
<div class="container">
  <div class="page-header">
    <h2>Registro horas extra</h2>
    <h4><span class="label label-primary"> </span></h4>
  </div>
</div>
<%= render 'table', hora: @hora %>
<%= link_to 'Nuevo registro', new_hora_path, class: "btn btn-primary shadow" %>


</div>
