

<!-- Cards OPs -->
<div class="card-deck">
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-poll text-success"></i> Ventas adicionales por planta</h5>

      <%= line_chart Trabajo.where(avance: ["Terminado", "Facturado"]).group(:planta).group(:fecha_termino).sum(:total), thousands: "." %>


    </div>
  </div>
</div>
