
<div class="container-fluid">
  <div class="page-header">
    <h2>Checklist Equipos</h2>
    <h4><span class="label label-primary"> </span></h4>
  </div>

<%= render 'table', equipo: @equipo %>
</div>
<%= link_to 'Nuevo registro', new_equipo_path, class: "btn btn-primary shadow" %>


</div>
